<div class="row">
  <div class="col" style="text-align: center;">
    <img src="../public/img/bakanliklogo.png" alt="bakalik logosu" class="resim">
  </div>
</div>

<div class="card logincard">
  <div class="card-header bg bg-info" style="color: white;">
    Giriş yap
  </div>
  <div class="card-body">
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="kullanıcı adı">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
  </div>
  <input type="password" class="form-control" placeholder="şifre">
</div>
  </div>
  <div class="card-footer clearfix">
    <div class="float-right">
        <button type="submit" name="button" class="btn btn-success">Giriş yap <i class="fa fa-angle-double-right"></i></button>
     </div>
    </div>
</div>
