<div class="fixed-bottom">
  <div class="fixed-bottom">
    <img src="../../public/img/nodejslogo.png" width="2%" height="2%" style="float: right;" alt="nodejs logosu"><small style="float: right;">meryem@</small>
  </div>
<div class="float-right fixed-bottom">
  <small>kisi@2019</small>
</div>
</div>
